<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.donmahallem.stickerstudio">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".StickerStudioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false"
        android:fullBackupContent="@xml/backup_rules"
        android:isGame="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HeroDetailActivity">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs that begin with "https://www.example.com/articles/" -->
                <data
                    android:host="www.dota2.com"
                    android:pathPrefix="/hero/"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="mystickers"/>
                <data android:host="sticker"/>
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs that begin with "https://www.example.com/articles/" -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/articles/"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <provider
            android:name=".StickerProvider"
            android:authorities="com.github.donmahallem.stickerstudio.StickerProvider"
            android:exported="true"
            android:grantUriPermissions="true"/>
        <service
            android:name=".indexing.AppIndexingUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver
            android:name=".indexing.AppIndexingUpdateBroadcastReciever"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX"/>
            </intent-filter>
        </receiver>
        <service android:name=".sync.RemoteConfigSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>